node-red-flows/flows.json
[
   {
      "type":"tab",
      "id":"cfcb8b04.a78658",
      "label":"Main",
      "_def":{
         "defaults":{
            "label":{
               "value":""
            }
         }
      }
   },
   {
      "id":"12e09754.f6e809",
      "type":"subflow",
      "name":"Set switch",
      "info":"",
      "in":[
         {
            "x":40,
            "y":80,
            "wires":[
               {
                  "id":"bad408a1.452bf8"
               }
            ]
         }
      ],
      "out":[
         {
            "x":440,
            "y":120,
            "wires":[
               {
                  "id":"52e0d620.2f3d38",
                  "port":0
               }
            ]
         }
      ]
   },
   {
      "id":"4845c5a3.0dcf3c",
      "type":"subflow",
      "name":"Set shutter",
      "info":"",
      "in":[
         {
            "x":40,
            "y":80,
            "wires":[
               {
                  "id":"57f64b85.a809b4"
               }
            ]
         }
      ],
      "out":[
         {
            "x":440,
            "y":120,
            "wires":[
               {
                  "id":"863bdaa7.62e008",
                  "port":0
               }
            ]
         }
      ]
   },
   {
      "id":"a1a22761.247268",
      "type":"subflow",
      "name":"Set roof",
      "info":"",
      "in":[
         {
            "x":40,
            "y":80,
            "wires":[
               {
                  "id":"ca218d26.7a73f"
               },
               {
                  "id":"fb84f51d.047b08"
               }
            ]
         }
      ],
      "out":[
         {
            "x":420,
            "y":120,
            "wires":[
               {
                  "id":"95f047c.f6a0fb8",
                  "port":0
               },
               {
                  "id":"fb84f51d.047b08",
                  "port":0
               }
            ]
         }
      ]
   },
   {
      "id":"4bcc91c2.ed99f",
      "type":"websocket-listener",
      "z":"",
      "path":"/ws",
      "wholemsg":"true"
   },
   {
      "id":"1906f72f.c3e9a9",
      "type":"websocket out",
      "z":"cfcb8b04.a78658",
      "name":"",
      "server":"4bcc91c2.ed99f",
      "client":"",
      "x":720,
      "y":420,
      "wires":[

      ]
   },
   {
      "id":"b5bbb647.cb5078",
      "type":"inject",
      "z":"cfcb8b04.a78658",
      "name":"temperature",
      "topic":"sensor/temperature",
      "payload":"20",
      "payloadType":"num",
      "repeat":"10",
      "crontab":"",
      "once":true,
      "x":140,
      "y":100,
      "wires":[
         [
            "134332a2.168aed"
         ]
      ]
   },
   {
      "id":"84434bbf.56abc8",
      "type":"debug",
      "z":"cfcb8b04.a78658",
      "name":"",
      "active":false,
      "console":"false",
      "complete":"payload",
      "x":470,
      "y":100,
      "wires":[

      ]
   },
   {
      "id":"b2be045a.39c568",
      "type":"inject",
      "z":"cfcb8b04.a78658",
      "name":"humidity",
      "topic":"sensor/humidity",
      "payload":"40",
      "payloadType":"num",
      "repeat":"10",
      "crontab":"",
      "once":true,
      "x":160,
      "y":140,
      "wires":[
         [
            "134332a2.168aed"
         ]
      ]
   },
   {
      "id":"134332a2.168aed",
      "type":"function",
      "z":"cfcb8b04.a78658",
      "name":"",
      "func":"try {\n    var t = global.get(msg.topic);\n    if (isNaN(t)) t = msg.payload;\n} catch(e) {\n    t = msg.payload;\n}\n    \nt = parseFloat(\n    (t + Math.random() * 2 - 1).toFixed(1),\n    10\n);\n\nglobal.set(msg.topic, t);\n\nmsg.payload = t;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":120,
      "wires":[
         [
            "84434bbf.56abc8",
            "417510e2.be8af"
         ]
      ]
   },
   {
      "id":"51c40e77.39455",
      "type":"comment",
      "z":"cfcb8b04.a78658",
      "name":"Publish temperature and humidity",
      "info":"",
      "x":150,
      "y":40,
      "wires":[

      ]
   },
   {
      "id":"8c63c68f.489788",
      "type":"comment",
      "z":"cfcb8b04.a78658",
      "name":"Init switches, shutters and roof states",
      "info":"",
      "x":160,
      "y":220,
      "wires":[

      ]
   },
   {
      "id":"52e0d620.2f3d38",
      "type":"function",
      "z":"12e09754.f6e809",
      "name":"Set global",
      "func":"global.set(msg.topic, msg.payload);\nreturn msg;",
      "outputs":"1",
      "noerr":0,
      "x":280,
      "y":80,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"863bdaa7.62e008",
      "type":"function",
      "z":"4845c5a3.0dcf3c",
      "name":"Set global",
      "func":"global.set(msg.topic, msg.payload);\nreturn msg;",
      "outputs":"1",
      "noerr":0,
      "x":280,
      "y":80,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"ca218d26.7a73f",
      "type":"delay",
      "z":"a1a22761.247268",
      "name":"",
      "pauseType":"delay",
      "timeout":"5",
      "timeoutUnits":"seconds",
      "rate":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":160,
      "y":80,
      "wires":[
         [
            "95f047c.f6a0fb8"
         ]
      ]
   },
   {
      "id":"6d331f5.458cde",
      "type":"comment",
      "z":"cfcb8b04.a78658",
      "name":"Handle action requests",
      "info":"",
      "x":120,
      "y":360,
      "wires":[

      ]
   },
   {
      "id":"ab8c25b5.932c08",
      "type":"websocket in",
      "z":"cfcb8b04.a78658",
      "name":"",
      "server":"4bcc91c2.ed99f",
      "client":"",
      "x":90,
      "y":480,
      "wires":[
         [
            "9c6eb18b.c3dad"
         ]
      ]
   },
   {
      "id":"9c6eb18b.c3dad",
      "type":"switch",
      "z":"cfcb8b04.a78658",
      "name":"",
      "property":"topic",
      "propertyType":"msg",
      "rules":[
         {
            "t":"regex",
            "v":"^switch\\/",
            "vt":"str",
            "case":false
         },
         {
            "t":"regex",
            "v":"^shutter\\/",
            "vt":"str",
            "case":false
         },
         {
            "t":"regex",
            "v":"^roof$",
            "vt":"str",
            "case":false
         },
         {
            "t":"eq",
            "v":"current_state",
            "vt":"str"
         }
      ],
      "checkall":"false",
      "outputs":4,
      "x":210,
      "y":480,
      "wires":[
         [
            "c72060ad.32c5e"
         ],
         [
            "353cf3f9.4ad6cc"
         ],
         [
            "c8b1e0b.bc9ee2"
         ],
         [
            "68e134fe.971ecc"
         ]
      ]
   },
   {
      "id":"c72060ad.32c5e",
      "type":"subflow:12e09754.f6e809",
      "z":"cfcb8b04.a78658",
      "name":"",
      "x":370,
      "y":420,
      "wires":[
         [
            "1906f72f.c3e9a9",
            "ed9f90bd.12607"
         ]
      ]
   },
   {
      "id":"353cf3f9.4ad6cc",
      "type":"subflow:4845c5a3.0dcf3c",
      "z":"cfcb8b04.a78658",
      "x":370,
      "y":460,
      "wires":[
         [
            "1906f72f.c3e9a9",
            "ed9f90bd.12607"
         ]
      ]
   },
   {
      "id":"c8b1e0b.bc9ee2",
      "type":"subflow:a1a22761.247268",
      "z":"cfcb8b04.a78658",
      "x":360,
      "y":500,
      "wires":[
         [
            "1906f72f.c3e9a9",
            "ed9f90bd.12607"
         ]
      ]
   },
   {
      "id":"9317ffc6.fdbed",
      "type":"comment",
      "z":"12e09754.f6e809",
      "name":"TODO: send command to arduino",
      "info":"",
      "x":550,
      "y":40,
      "wires":[

      ]
   },
   {
      "id":"6b5a7f19.b7598",
      "type":"comment",
      "z":"12e09754.f6e809",
      "name":"TODO: store state in DB",
      "info":"",
      "x":530,
      "y":80,
      "wires":[

      ]
   },
   {
      "id":"f25085a7.aa57e8",
      "type":"comment",
      "z":"4845c5a3.0dcf3c",
      "name":"TODO: store state in DB",
      "info":"",
      "x":530,
      "y":80,
      "wires":[

      ]
   },
   {
      "id":"d0628c8d.e6b72",
      "type":"comment",
      "z":"4845c5a3.0dcf3c",
      "name":"TODO: send command to arduino",
      "info":"",
      "x":550,
      "y":40,
      "wires":[

      ]
   },
   {
      "id":"bad408a1.452bf8",
      "type":"switch",
      "z":"12e09754.f6e809",
      "name":"Validate",
      "property":"topic",
      "propertyType":"msg",
      "rules":[
         {
            "t":"regex",
            "v":"^switch\\/(mount|camera|usb|fan|flat|lock)",
            "vt":"str",
            "case":false
         }
      ],
      "checkall":"true",
      "outputs":1,
      "x":140,
      "y":80,
      "wires":[
         [
            "52e0d620.2f3d38"
         ]
      ]
   },
   {
      "id":"57f64b85.a809b4",
      "type":"switch",
      "z":"4845c5a3.0dcf3c",
      "name":"Validate",
      "property":"topic",
      "propertyType":"msg",
      "rules":[
         {
            "t":"regex",
            "v":"^shutter\\/(scope|guide)",
            "vt":"str",
            "case":false
         }
      ],
      "checkall":"true",
      "outputs":1,
      "x":140,
      "y":80,
      "wires":[
         [
            "863bdaa7.62e008"
         ]
      ]
   },
   {
      "id":"95f047c.f6a0fb8",
      "type":"function",
      "z":"a1a22761.247268",
      "name":"Set global",
      "func":"global.set(msg.topic, msg.payload);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":300,
      "y":80,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"fb84f51d.047b08",
      "type":"change",
      "z":"a1a22761.247268",
      "name":"Opening/Closing",
      "rules":[
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"true",
            "fromt":"bool",
            "to":"opening",
            "tot":"str"
         },
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"false",
            "fromt":"bool",
            "to":"closing",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":190,
      "y":120,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"209b392d.df64c6",
      "type":"split",
      "z":"cfcb8b04.a78658",
      "name":"",
      "splt":"\\n",
      "x":390,
      "y":600,
      "wires":[
         [
            "1a2ed76b.e5d129"
         ]
      ]
   },
   {
      "id":"68e134fe.971ecc",
      "type":"change",
      "z":"cfcb8b04.a78658",
      "name":"List",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"[\"switch/mount\",\"switch/camera\",\"switch/usb\",\"switch/fan\",\"switch/flat\",\"switch/lock\",\"shutter/scope\",\"shutter/guide\",\"sensor/temperature\",\"sensor/humidity\",\"roof\"]",
            "tot":"json"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":350,
      "y":540,
      "wires":[
         [
            "209b392d.df64c6"
         ]
      ]
   },
   {
      "id":"1a2ed76b.e5d129",
      "type":"change",
      "z":"cfcb8b04.a78658",
      "name":"To topic",
      "rules":[
         {
            "t":"move",
            "p":"payload",
            "pt":"msg",
            "to":"topic",
            "tot":"msg"
         },
         {
            "t":"delete",
            "p":"parts",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":440,
      "y":660,
      "wires":[
         [
            "ffb0f52e.004f08"
         ]
      ]
   },
   {
      "id":"ffb0f52e.004f08",
      "type":"function",
      "z":"cfcb8b04.a78658",
      "name":"Get state value",
      "func":"msg.payload = global.get(msg.topic);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":540,
      "y":720,
      "wires":[
         [
            "1906f72f.c3e9a9",
            "98fd848e.670278"
         ]
      ]
   },
   {
      "id":"2903b7f8.d6fc48",
      "type":"link in",
      "z":"cfcb8b04.a78658",
      "name":"",
      "links":[
         "2ba372b.fd45c8e"
      ],
      "x":135,
      "y":540,
      "wires":[
         [
            "9c6eb18b.c3dad"
         ]
      ]
   },
   {
      "id":"614037d6.9ebfc8",
      "type":"split",
      "z":"cfcb8b04.a78658",
      "name":"",
      "splt":"\\n",
      "x":250,
      "y":280,
      "wires":[
         [
            "7650729d.89af8c"
         ]
      ]
   },
   {
      "id":"7650729d.89af8c",
      "type":"change",
      "z":"cfcb8b04.a78658",
      "name":"Extract topic",
      "rules":[
         {
            "t":"move",
            "p":"parts.key",
            "pt":"msg",
            "to":"topic",
            "tot":"msg"
         },
         {
            "t":"delete",
            "p":"parts",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":390,
      "y":280,
      "wires":[
         [
            "2ba372b.fd45c8e",
            "98fd848e.670278"
         ]
      ]
   },
   {
      "id":"d12171e4.2ede9",
      "type":"inject",
      "z":"cfcb8b04.a78658",
      "name":"Initial state",
      "topic":"init",
      "payload":"{\"switch/mount\":false,\"switch/camera\":false,\"switch/usb\":false,\"switch/fan\":false,\"switch/flat\":false,\"switch/lock\":true,\"shutter/scope\":false,\"shutter/guide\":false,\"roof\":false}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":true,
      "x":120,
      "y":280,
      "wires":[
         [
            "614037d6.9ebfc8"
         ]
      ]
   },
   {
      "id":"2ba372b.fd45c8e",
      "type":"link out",
      "z":"cfcb8b04.a78658",
      "name":"",
      "links":[
         "2903b7f8.d6fc48"
      ],
      "x":495,
      "y":280,
      "wires":[

      ]
   },
   {
      "id":"417510e2.be8af",
      "type":"link out",
      "z":"cfcb8b04.a78658",
      "name":"",
      "links":[
         "1f062bd1.e0f9d4"
      ],
      "x":415,
      "y":140,
      "wires":[

      ]
   },
   {
      "id":"1f062bd1.e0f9d4",
      "type":"link in",
      "z":"cfcb8b04.a78658",
      "name":"",
      "links":[
         "a2e44db7.5d1bb",
         "417510e2.be8af"
      ],
      "x":595,
      "y":380,
      "wires":[
         [
            "1906f72f.c3e9a9"
         ]
      ]
   },
   {
      "id":"98fd848e.670278",
      "type":"debug",
      "z":"cfcb8b04.a78658",
      "name":"",
      "active":false,
      "console":"false",
      "complete":"true",
      "x":530,
      "y":320,
      "wires":[

      ]
   },
   {
      "id":"ed9f90bd.12607",
      "type":"debug",
      "z":"cfcb8b04.a78658",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":740,
      "y":540,
      "wires":[

      ]
   }
]
